[MITM]
hostname = https://wecom-frontapi.aptamil.com.cn

[rewrite_local]
^https:\/\/wecom-frontapi\.aptamil\.com\.cn\/api\/member\/queryMemberByUserId url script-request-header https://raw.githubusercontent.com/qqqleonardo/QXScripts/refs/heads/main/scripts/Aptamil.js
