# mitm
hostname = https://wecom-frontapi.aptamil.com.cn


^https:\/\/wecom-frontapi\.aptamil\.com\.cn\/api\/member\/queryMemberByUserId url script-request-header https://raw.githubusercontent.com/qqqleonardo/QXScripts/refs/heads/main/scripts/Aptamil.js
