# mitm
hostname = shop.skycolorful.com


^https\:\/\/shop\.skycolorful\.com\/api\/User\/DecryptPhoneNumber url script-request-body https://raw.githubusercontent.com/xzxxn777/Surge/refs/heads/main/Script/Colorful/Colorful.js