# mitm
hostname = ucodeportal.dhx9.cn

^https:\/\/ucodeportal\.dhx9\.cn\/api-gateway\/openapi\/user\/v2\/pointDetails\?pointTypes\=64 url script-request-header https://raw.githubusercontent.com/qqqleonardo/QXScripts/refs/heads/main/scripts/DHX.js
