[MITM]
hostname = dkmall.51pt.top

^https:\/\/dkmall\.51pt\.top\/app\/ys\/mine\/getMemberInfo url script-request-header https://raw.githubusercontent.com/qqqleonardo/QXScripts/refs/heads/main/scripts/DK.js
