# mitm
hostname = member.guoyuejiu.com

^https:\/\/member\.guoyuejiu\.com\/api\/coupon\/list\/recommend url script-request-header https://raw.githubusercontent.com/qqqleonardo/QXScripts/refs/heads/main/scripts/GLJJ.js
