[MITM]
hostname = member.guoyuejiu.com

[rewrite_local]
^https:\/\/member\.guoyuejiu\.com\/api\/coupon\/list\/recommend url script-request-header https://raw.githubusercontent.com/qqqleonardo/scripts/refs/heads/main/GLJJ.js
