# mitm
hostname = instax.app.xcxd.net.cn


^https\:\/\/instax\.app\.xcxd\.net\.cn\/api\/me url script-response-body https://raw.githubusercontent.com/xzxxn777/Surge/refs/heads/main/Script/INSTAX/INSTAX.js
