# mitm
hostname = mole.ferrero.com.cn


^https\:\/\/mole\.ferrero\.com\.cn\/boss\/boss\/scrm\/home\/info\/get url script-response-body https://raw.githubusercontent.com/xzxxn777/Surge/refs/heads/main/Script/JDFLS/JDFLS.js
